@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <h2>Aplikacja ASP.NET Core 7.0 w Razor Pages</h2>
    <h3>Rafał MAKOWSKI gd14798</h3>
    <p>Aplikacja pozwala na tworzenie statków morskich (kilku ich parametrów) oraz portów morskich (miejscowości)</p>
    <p>Ww. obiekty można podglądać (szczegóły), edytować i usuwać</p>
    <p>Statki mogą być umieszczane w portach, w każdym porcie może być wiele statków (szczegóły portu)</p>
</div>
