@page "{id:int}"
@model RazorPagesArmator.Pages.Ships.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ship.Id" />
            <div class="form-group">
                <label asp-for="Ship.Name" class="control-label"></label>
                <input asp-for="Ship.Name" class="form-control" />
                <span asp-validation-for="Ship.Name" class="text-danger"></span>
            </div>
          

            <div class="form-group">
                <label asp-for="Ship.Type" class="control-label">Select ship type</label>
                <select asp-for="Ship.Type" asp-items="Model.shipTypes" class="form-control">
                    <option value="">-- Pick one --</option>
                </select>
                <span asp-validation-for="Ship.Type" class="text-danger" />
            </div>


            <div class="form-group">
                <label asp-for="Ship.Flag" class="control-label"></label>
                <input asp-for="Ship.Flag" class="form-control" />
                <span asp-validation-for="Ship.Flag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ship.Mmsi" class="control-label"></label>
                <input asp-for="Ship.Mmsi" class="form-control" />
                <span asp-validation-for="Ship.Mmsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ship.Length" class="control-label"></label>
                <input asp-for="Ship.Length" class="form-control" />
                <span asp-validation-for="Ship.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ship.Beam" class="control-label"></label>
                <input asp-for="Ship.Beam" class="form-control" />
                <span asp-validation-for="Ship.Beam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ship.Port" class="control-label">Select Port</label>
                <select asp-for="Ship.PortID" class="form-control"
                        asp-items="@Model.PortNameSL">
                    <option value="">-- Not in port --</option>
                </select>
                <span asp-validation-for="Ship.PortID" class="text-danger" />
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
